
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.example.Alien" autowire="byName">
        <property name="age" value="10"></property>
<!--        <property name="com" ref="lap1"></property>-->
    </bean>
    <bean id="com" class="org.example.Laptop">

    </bean>
</beans>